.circular {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
  
.circular img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.card {
    border-radius: 16px;
    max-width: 60%;
}

.hero {
    width: 100%;
    height: 400px;
    display: flex;
    text-align: center;
    background-image: linear-gradient(
        to right,
        rgb(129, 177, 127),
        rgb(48, 216, 62)
    );
    clip-path: polygon(83% 5%, 53% 0%, 17% 0%, 1% 27%, 11% 63%, 48% 91%, 94% 76%, 99% 31%);
}
  
.hero-inner {
    color: white;
}
